	<div class="container appContainer">
	<div *ngIf = "!isLoggedIn">
	  <div class="jumbotron loginContainer">
			<h1>Login to your ChatBox</h1>
			<hr>
          <!-- <div class="row">
							<div class="md-col-12"> -->
              <div class="form-group">
								<label for = "userName">Username</label>
                <input [(ngModel)]="username" id="userName" name="userName" class="form-control"
									type="text" placeholder="Please enter your username">
								<label for = "password">Password</label>	
                <input [(ngModel)]="password" id="password" 
                	type="password" name = "password" class="form-control" placeholder="Please enter your password">
							</div>
						<!-- </div> -->
							<span *ngIf = "!isValidUser" style="color:red">Invalid username or password !!</span>
					<!-- </div> -->
					<a type="button" [routerLink] = "['/signUp']"
					class="btn btn-warning" >Sign Up</a>
	      <button (click)="login()" type="submit" 
	    	class="btn btn-success"  
			name="action" >Login</button>
	<div style="clear:both;"></div>
</div>
</div>
<div class="row">
	<div class="md-col-12"> 
<app-chats-container *ngIf = "isLoggedIn" [primaryUser]="userData" (logoutClicked)="logout(event)"></app-chats-container>
</div>
</div>
</div>