<!-- <div class="container"> -->
    <div class="row">
        <div class="col-md-12 whiteBoard" style="overflow:auto">
          <ul class="list-group">
            <li *ngFor = "let message of messageList" class="list-group-item" >
                <span>{{message.username}} :</span><span>{{message.message}}</span>
            </li>
          </ul>
        </div> 
      </div> 
        <div class="row">
          <div class="col-md-9">
            <div class="form-group">
            <input type="text"  id="message" style= "width:100%" class="form-control" (keyup.enter)="sendMessage()" placeholder="Type your message here" [(ngModel)]="message">
            <!--<emoji-input  id="message" [popupAnchor]="'bottom'"  (keyup.enter)="sendMessage()" placeholder="Type your message here" [(ngModel)]="message"></emoji-input>-->
          </div>
          </div>
          <div class="col-md-3">
            <button class="btn btn-success sendButton " id="send" (click)="sendMessage()">Send</button>
          </div>
        </div>
    <!-- </div> -->
  

